.container_12
  .grid_4.alpha
    %h3=t 'footer.title'
    %p=t 'footer.tagline'

    %ul.footer-list
      %li= link_to "About us", "#"
      %li= link_to "Contact us", "#"

  .grid_4
    %h3=t 'footer.info'

    %ul.footer-list
      %li= link_to "Payments", "#"
      %li= link_to "Pickup, Delivery and Shipping", "#"
      %li= link_to "Terms and Conditions", "#"

  .grid_4.omega
    %h3=t 'footer.news'
    %p=t 'footer.news_text'
