- if @new_arrivals.any?
  %section.main-content.item-list
    .container_12
      %h1 What's Hot?

      %section.new-arrivals
        - @new_arrivals.each do |i|
          .grid_4
            .item
              .item-img-container
                %a{ :href => item_path(i) }
                  = image_tag(i.primary_photo.public, :width => 300)

              %a{ :href => "#" }
                = i.name

              .price
                = number_to_currency i.price, :unit => "Php"

- if @popular_picks.any?
  %section.main-content.item-list
    .container_12
      %h1 Popular Picks

      %section.product-list
        - @popular_picks.each do |i|
          .grid_3
            .item
              .item-img-container
                %a{ :href => item_path(i) }
                  = image_tag(i.primary_photo.public, :width => 220)

              %a{ :href => "#" }
                = i.name

              .price
                = number_to_currency i.price, :unit => "Php"
