!!!
%html
  %head
    %title The Wearhouse - You Wear It, We Sell It | Online Retail Shop in Cebu City

    
    - if Rails.env.development? || Rails.env.test?
      = stylesheet_link_tag    "application", :media => "all"
      = javascript_include_tag "application"
    - else
      - Settings.static_assets.each do |a|
        - if a["url"].include? "css"
          = stylesheet_link_tag a["url"], :medial => "all"
        - if a["url"].include? "js"
          = javascript_include_tag a["url"]
    
    = csrf_meta_tags

  %body
    .header
      = render "shared/header"
    
    .header-support
      = render "shared/header_support"

    = yield
