!!!
%html
  %head
    %title Buzzednow
  
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .header
      = render "shared/header"
    
    .header-support
      = render "shared/header_support"

    = yield
